h1 {
    text-align: center;
    border: 1px solid black;
        border-radius: 5px;
        ;
}

p {
    text-align: center;
    font-size: 20px;
}

a {
    text-align: center;
    display: block;
    font-size: 20px;
    color: blue;
}

.image {
    display: block;
    margin: 0 auto;
}

body {
    background: rgb(113, 158, 255);
}